[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Plank
Comment=Customed Plank for Plague Sec
NotShowIn=i3wm;
Exec=/usr/bin/plank
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false